body {
  background-color: rgb(255, 177, 205);
  overflow: hidden;
  font-family: "Grey Qo", cursive;
}
.no {
  width: 50px;
}
.si {
  width: 50px;
}

.botonesContainer {
  padding-top: 200px !important;
}
